.styleDiv{
    position: relative;
}
.credit {
    margin:0 auto;
    width: 700px;
    height: 700px;
    display: grid;
    overflow: hidden;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }
  
.team {
    border-radius: 100%;
    margin: 5% auto;
    
    img{
        width: 90%;
        border-radius: 50%;
        transition: transform 20s ease-out;
    }
    
    &:hover img {
        transform: rotate(360deg);
    }

}

.creditInfo {
    position: absolute;
    margin:0 auto;
    width: 700px;
    height: 700px;
    display: grid;
    overflow: hidden;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }
  
.teamInfo {
    border-radius: 100%;
    margin: 5% auto;
    
    img{
        width: 90%;
        border-radius: 50%;
        // transition: transform 20s ease-out;
    }
    
    // &:hover img {
    //     // transform: rotate(360deg);
    // }

}


